




.solicitudes{
    font-size: 15px;
}


.padre{
    display:flex;
    flex-wrap: wrap;
}

.titulo{
    font-size: 9px;
    font-weight: normal;
}

.answer{
    font-size: 7px;
}

.header{
    font-size: 12px
}

.main2-container{
    display:flex;
    flex-wrap: wrap;
    width:90%;
    margin:auto;
    justify-content: center;
    
    border-radius:5px;
   
}
.contenedor-de-boton{
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
    
}
.boton-logout{
    width:100px;
    height: 20px;
    background:rgb(1, 116 ,142);
    color:white;
    border:none;
    border-radius:3px
}

.main{
    box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    border-radius:20px;
    width:95%;
    margin-left:20px;
    margin-right: 20px;
    
}

.secundary-container{
    margin:8px;
    width: 30%;
    
}

.identificacion-container{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
   
    
}

.spanId{
    font-size: 9px;
    font-weight: bolder;
}

.span-id{
    font-size:7px
}

.botones-container{
    display:flex;
    flex-wrap: wrap;
    width: 135px;
    margin:auto;
    
}