

.container-perfil{
    text-align: center;
    
    
}
.container-avatar{
width: 71px;
height: 71px;
border-radius: 100%;
// background-color: rgb(1, 116 , 142);
text-align: center;
border: 3px solid rgb(1, 116 , 142);
margin-top: 20px;
 margin-left: 155px;
 margin-right: 170px;
 

}
.avatar{
    height: 66px;
    width: 66px;
    border-radius: 100%;
    object-fit: cover;
object-position: center center;
}
.div-info{
    display: flex;
    flex-direction: row;
    border: solid 1px rgb(189, 210, 214);
    width: 352px;
    height: 50px;
    margin-left: 13px;
    margin-right: 10px;
    margin-top: 15px;
    padding: 14px;
    // justify-content: space-evenly;
}
.label-perfil{
    color:  rgb(1, 116 , 142);
    margin-left: 10px;
   
    
}
.iconos-perfil{
    width: 24px;
    height: 25px;
  margin-left: 0px;
}
.arrow-perfil1{
    margin-left: 220px;
    
}
.arrow-perfil2{
    margin-left: 197px;
}
.arrow-perfil3{
    margin-left: 215px;
}
.arrow-perfil4{
    margin-left: 178px;
}
.arrow-perfil5{
  
   margin-left: 120px;

}
.arrow-perfil6{
    margin-left: 205px;
}
.arrow-perfil7{
    margin-left: 230px;
}

