.nav-container{
    display: flex;
    flex-wrap: wrap;
    height: 51px;
    width: 100%;
    padding-top: 12px;
    justify-content: space-around;

    background-color: white;
    position:fixed;
    bottom: 0;
    z-index: 1000;
    
}

.image-container{
    width:24px;
        
}

.nav-image{
    width:100%
}

