.inputBuscadorAdopcion{
    margin-left: 16%;
    width: 68%;
    border-radius: 17px;
    height: 33px;
    margin-top: 27px;
    border: 1px solid #bdd6d2;
}
.imagen-lupa-adopcion{
    position: absolute;
    top: 31px;
    left:276px;
    width:25px;
}
.imagen-flecha{
    margin-left: 23px;
    position: absolute;
    margin-top: -30px;
    width: 25px;
}
.div-adopcion{
    height: 238px;
    width: 346px;
    border: 1px solid #bdd6d2;
    border-radius: 9px;
    margin-top: 29px;
    margin-left: 16px
}
.text-adopcion{
    margin-left: 6%;
    color:#01748e;
    font-weight: bold;
}
.text-proceso{
    margin-top: -10%;
    margin-left: 206px;
    // color:#f5a609;
    position:absolute;
}
.imagen-proceso{
    margin-left: 308px;
    margin-top: -34px;
    position: absolute;
    height: 17px;
}
.imagen-proceso-loro{
    height: 130px;
    margin-left: 20px;
    position:absolute ;
    border-radius: 100%;
    width: 130px;
    margin-top: 30px;
    border: 5px solid rgb(189,210,214);
}
.text-proceso2{
color: darkred;
}
.datos-proceso{
    margin-left: 180px;
    margin-top: 14%;
    position:absolute;
    font-weight: bold;
}
.nombre-proceso{
    margin-bottom: 9px;
}
.ciudad-proceso{
    margin-bottom: 9px;
}
.informacion-adopcion{
    position: absolute;
    margin-left: 70%;
    margin-top: 14%;

}
.nombre-adopcion{
    margin-bottom: 8px;
}
.ciudad-adopcion{
    margin-bottom: 8px;
}
.imagen-lineas-verticales{
    margin-left: 84%;
    position: absolute;
    top: 5%;
}